<my-navbar></my-navbar>
<h2> Crime Data Visualization in Chicago</h2>
<button (click)="dispCrimeCodes()"> Display Crime Codes </button>
<input placeholder = "enter when done"  #myCode (keyup.enter)="onEnter(myCode.value)">

<div *ngIf = "disp === 2">
<ul class="codes">
  <h4>IUCR  Primary Desc  Secondary Desc </h4>
   <li *ngFor="let code of codes">
     <span class="badge">{{code.id}}</span> {{code.desc1}}  {{code.desc2}}
  </li>
</ul>
</div>

<div *ngIf = "disp === 1">
  <h2> Information on IUCR: {{value}}</h2>
    <li *ngFor="let crime of crimeInfo">
       <span class="badge">{{crime.IUCR}}</span> {{crime.domestic}}  {{crime.arrest}}
    </li>

</div>
<my-footer></my-footer>

