<div style="width:100%;height: 100px; background-color: rgb(135,206,250);height:32px; border: 2px solid rgb(135,206,250); margin-top: 20px" >
   <ul>
     <a href = "https://github.com/Skgadhoke/Angular2" style="width:30px; padding-right: 10px">see source code</a>
     <a href = "https://.." style= "width: 30px; padding-right: 10px ">see demo</a> 
     <a href = "http://stackoverflow.com/questions/tagged/angular2" style= "width: 30px; padding-right: 10px ">Stack Overflow</a> 

   </ul>

</div>


