<div id="side-bar" style="height: 400px; width: 150px; float: left">
  <button (click)="dispCrimeCodes()"> Display Crime Codes</button> <br><br>

  
<div class="container">
    <p>Crime Search By…</p>
    <form (ngSubmit)="onSubmit()" #sf="ngForm">
      <div class="form-group">
        <label for=“cur”>IUCR:</label>
        <input type="text" class="form-control" id=“iucr” name="iucr" [(ngModel)]="iucr">
      </div>
      <div class="form-group">
        <label for=“domestic”>Domestic:</label>
        <input type="text" class="form-control" id=“domestic”>
      </div>
      <button type="submit" >Search</button>
    </form>
</div>



</div>


<my-display [codes]="codes" [crimeInfo]="crimeInfo" [disp]="disp">
</my-display>
